@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {

  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {

  font-family: 'Sora';
  src: url('/fonts/Sora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.font-sora {
  font-family: 'Sora', sans-serif;
}
.font-spaceGrotesk {
  font-family: 'SpaceGrotesk', sans-serif;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}



:root {
  --color-darkgreen: #5bbe82; /* Default Dark Green */
  --color-lightgreen: #58C182; /* Default Light Green */
  --color-white: #FFFFFF;
  --color-lightgray: #E5E7EB;
  --color-darkgray: #FFFFFF87;
}

/* Define a theme for "blue" */
[data-theme="blue"] {
  --color-darkgreen: #00008b; /* Dark Blue */
  --color-lightgreen: #0000ff; /* Light Blue */
  --color-white: #f0f8ff;
  --color-lightgray: #dcdcdc;
  --color-darkgray: #b0c4de;
}

/* Define a theme for "red" */
[data-theme="red"] {
  --color-darkgreen: #8b0000; /* Dark Red */
  --color-lightgreen: #ff4500; /* Light Red */
  --color-white: #ffe4e1;
  --color-lightgray: #ffcccb;
  --color-darkgray: #ff9999;
}
